.hero--slider--wrap {
  width: 100%;
}

.slide--image {
  display: block;
  background-size: cover !important;
  height: 500px;
  width: 100%;
}

// .slide.active {
//   .slide--headline {
//     position: absolute;
//     top: 50%;
//     left: 0;
//     color: #fff;
//   }
// }
