.hero--slider {
  padding-top: 80px;
}

.slider--headline {
  font-size: 4rem !important;
}

.sp-buttons {
  padding: 0 !important;
  top: -30px;
}

.sp-button {
  border-radius: 0 !important;
  width: 25px !important;
  border-color: #abc937;
}

.sp-selected-button {
  background-color: #abc937;
}

.sp-grab, .sp-grabbing {
  cursor: default !important;
}
