// .hero {
//   position: fixed;
//   width: 100%;
// }

// div.section {
//   height: 100vh;
// }

// .hero--slider {
//   padding-top: 80px;
// }

.hero--image {
  height: 600px;
}

.hero--content {
  position: relative;
  top: 300px;
}

.hero--headline {
  color: #fff;
  font-size: 3rem;
  text-shadow: 0px 5px 15px #000;
}

.section .hero--content {
  top: 0;
}

.slider--headline {
  font-size: 3rem !important;
}

.sp-buttons {
  padding: 0 !important;
  top: -30px;
}

.sp-button {
  border-radius: 0 !important;
  width: 25px !important;
  border-color: #abc937;
}

.sp-selected-button {
  background-color: #abc937;
}

.sp-grab, .sp-grabbing {
  cursor: default !important;
}

#pp-nav {
  li {
    height: 48px;
  }
  span {
    border-radius: 0;
    height: 50px;
    width: 10px;
  }
}

.sp-horizontal .sp-next-arrow {
  right: 80px;
}

.sp-horizontal .sp-previous-arrow {
  left: 80px;
}
