
//Dark Army Green - #81816d - rgba(129,129,109,1)
//Lime Green - #abc937 - rgba(171,201,55,1)


html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size:4.5rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.7rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
  line-height: 3rem;
}

//break

ul {
  list-style: none;
  li {
    line-height: 1.5 !important;
  }
}

// h2.display-1 {
//   background: #000 !important;
//   color: #abc937 !important;
//   margin-bottom: 2rem !important;
//   padding: 1.5rem 0 !important;
// }

body.admissions {
  .section:nth-of-type(3) {
    h2.display-1 {
      color: #e6e6e6 !important;
    }
  }
  .backdrop {
    background: rgba(0,0,0,.85);
    p, h1,h2,h3,h4,h5,h6 {
      color: #fff;
      text-shadow: 1px 1px 1px #000;
    }
  }
}

.icons-wrap {
  padding: 4rem 0;
}


.hero, .textArea {
  .display-1 {
    color: #fff !important;
    text-shadow: 1px 1px 1px #000;
  }
}

.section.pp-scrollable .textArea--box {
    margin: 12rem 0 0 0;
}
