
//Dark Army Green - #81816d - rgba(129,129,109,1)
//Lime Green - #abc937 - rgba(171,201,55,1)


html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}


div.section {
  height: 100vh !important;
}
